@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Poppins",sans-serif;
}

body {
  font-family: "Roboto", "Poppins",sans-serif;
}

/* header {
  height: 10vh;
  background-color: #000;
  color: white;
  display: flex;
  /* justify-content: space; 
  align-items: center;
} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Roboto", "Poppins",sans-serif;
  padding: 9px 20px;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  color: white;
  height: 90px;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-left: -320px;
}

.nav-logo h1 {
  font-weight: normal;
  margin-left: 8px;
}

.nav-links {
  margin-right: -300px;
}


.btn1 {
  border: 1px solid white;
  background-color: #191A1B;
  margin-right: 20px;
}

.btn2 {
  /* border: 1px solid white; */
  background-color: #4C5FD5;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}

.btn2:hover {
  color: black;
  background-color: white;
  transition: 0.3s ease-in-out;
}

/* Main - Hero Section */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dadbf1;
  height: 41vh;
}

main h1{
  font-size: 4.1rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-bottom: 12px;
}

/* main input {
  padding: 16px 100px;
} */

main input{
  /* float: right; */
  border: 1px solid black;
  padding: 20px 350px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 18px;
  padding-left: 12px;
  border-radius: 6px;
  width: 700px;
  box-shadow: 1px 1px 9px gray;
}

footer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  color: white;
  background-color: #000;
  /* height: 480px; */
  padding-bottom: 80px;
}

.footer-abstract,
.footer-resources,
.footer-community,
.footer-company {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-around; */
}

.footer-copyright {
  margin-top: 280px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}